<div class="alert alert-light p-3 borderB d-flex justify-content-between" role="alert">
  <h1 class="text-success fw-bolder fs-4">
    COMPANY <i class="fa-brands fa-think-peaks"></i> CRM
  </h1>

  <a
    class="nav-link dropdown-toggle text-success fw-bolder"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{ getUserName() }}
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item text-success" (click)="logout()"
        ><i class="fa-solid fa-right-from-bracket"></i> logout</a
      >
    </li>
    <li>
      <a class="dropdown-item"
        ><i class="fa-solid fa-gear"></i> Another action</a
      >
    </li>
  </ul>
</div>
