<div class="alert alert-secondary mt-5" role="alert">
  <h3 class="fw-bolder"><i class="fa-solid fa-user"></i> Customers</h3>
</div>
<!-- <div class="d-none d-lg-block"> -->
<div class="d-flex justify-content-center flex-wrap">
  <div class="input-group flex-nowrap w-25 m-1">
    <span class="input-group-text d-none d-lg-block"
      ><i class="fa-brands fa-searchengin"></i
    ></span>
    <input
      type="text"
      class="form-control"
      placeholder="first name"
      [(ngModel)]="customFirstName"
    />
  </div>
  <div class="input-group flex-nowrap w-25 m-1">
    <span class="input-group-text d-none d-lg-block"
      ><i class="fa-brands fa-searchengin"></i
    ></span>
    <input
      type="text"
      class="form-control"
      placeholder="last name"
      [(ngModel)]="customLastName"
    />
  </div>
  <div class="input-group flex-nowrap w-25 m-1">
    <span class="input-group-text d-none d-lg-block"
      ><i class="fa-brands fa-searchengin"></i
    ></span>
    <input
      type="text"
      class="form-control"
      placeholder="phone"
      [(ngModel)]="customPhone"
    />
  </div>

  <button type="button" class="btn btn-success m-2" (click)="addCustomer()">
    <i class="fa-sharp fa-solid fa-plus"></i> Add Customers
  </button>
</div>

<div
  *ngIf="
    customers
      | filter: 'firstName':customFirstName
      | filter: 'lastName':customLastName
      | filter: 'phone':customPhone as customers
  "
>
  <ng-container *ngIf="customers.length != 0; else noFound">
    <table class="table table-bordered table-striped d-none d-lg-table mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <th scope="col">show</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.address }}</td>
          <td>
            <i
              class="fa-solid fa-pen-to-square text-success"
              (click)="updateCustomer(customer)"
            ></i>
          </td>
          <td>
            <i
              class="fa-solid fa-trash text-danger"
              (click)="deleteCustomer(customer)"
            ></i>
          </td>
          <td>
            <i
              class="fa-sharp fa-solid fa-eye"
              (click)="showCustomer(customer.id)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-lg-none">
      <div class="d-flex justify-content-center flex-wrap">
        <div
          *ngFor="let customer of customers"
          class="card m-2"
          style="width: 18rem"
        >
          <div class="card-body">
            <h5 class="card-title text-success">
              {{ customer.firstName }} {{ customer.lastName }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">email:{{ customer.email }}</h6>
            <p class="card-text">address:{{ customer.address }}</p>
            <p class="card-text">phone:{{ customer.phone }}</p>
            <i
            class="fa-solid fa-pen-to-square text-success mx-2"
            (click)="updateCustomer(customer)"
          ></i>
          <i
          class="fa-solid fa-trash text-danger mx-2"
          (click)="deleteCustomer(customer)"
        ></i>
        <i
        class="fa-sharp fa-solid fa-eye mx-2"
        (click)="showCustomer(customer.id)"
      ></i>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noFound class="m-5">
    <h5>no customers found...</h5>
  </ng-template>
</div>
